@use 'utils' as u;

.wrapper {
  width: 400px;
}
.inner {
  width: 100%;
  height: 100%;
}
.flex {
  display: flex;
}
.header {
  background-color: u.$navy;
  height: 100px;

  & > .inner.flex {
    justify-content: flex-end;
    align-items: center;
  }

  &__box {
    @include u.headerBtnBox(u.$white, u.$classNames, u.$buttonColor);
  }
}

.main_wrapper {
  height: 250px;
}

.sidebar {
  width: 150px;
  height: 100%;
  background-color: u.$green;
}

.main {
  width: 250px;
  height: 100%px;
  background-color: u.$red;

  &__inner{
    margin: 40px auto auto 40px;

    &__box {
      @include u.mainBtnBox(u.$white, u.$classNames, u.$buttonColor);
    }
  }

}

.footer {
  height: 100px;
  background-color: u.$brown;
}